.App {
    text-align: center;
}
.App-logo {
    height: 40vmin;
    pointer-events: none;
}
html {
    background-color: #cfd1d6;
}
.cantainer-n {
    display:flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}