.PostForm {
    background-color: #f8f8f8;
    border-radius: 6px;
    box-shadow: 0 2px 6px #0000001a;
    //margin: 2rem auto;
    margin-left: 2rem;
    margin-right: 2rem;
    //max-width: 500px;
    //min-width: 200px;
    padding: 1rem;
    animation: bounceIn 0.5s ease-in-out forwards;
    button {
        background-color: #4a90e2;
        border: none;
        border-radius: 4px;
        color: white;
        cursor: pointer;
        display: block;
        font-size: .95rem;
        font-weight: 500;
        margin-top: 10px;
        padding: .6rem 1rem;
        transition: background-color .2s ease-in-out;
        width: 100%;
        &:hover {
            background-color: #c1c1c1;
        }
    }
    h2 {
        color: #333;
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 1.2rem;
        text-align: center;
    }
    input, textarea {
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: .95rem;
        padding: .6rem .8rem;
        transition: border-color .2s ease-in-out;
        width: 95%;
    }
    input:focus, textarea:focus {
        border-color: #4a90e2;
        outline: none;
    }
    label {
        color: #555;
        display: block;
        font-size: .95rem;
        font-weight: 500;
        margin-bottom: 0.4rem;
    }

}
.PostForm-preview {
    background-color: #f8f8f8;
    border-radius: 6px;
    box-shadow: 0 2px 6px #0000001a;
    margin-left: 1rem;
    margin-right: 2rem;
    //max-width: 800px;
    //min-width: 200px;
    padding: 1.5rem;
    flex:1;
    animation: bounceIn 0.5s ease-in-out forwards;
    h1 {
        color: #333;
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 1.2rem;
        text-align: center;
    }

}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: translateY(-10px) scale(0.7);
    }
    60% {
        opacity: 1;
        transform: translateY(5px) scale(1.05);
    }
    100% {
        transform: translateY(0) scale(1);
    }
}

.tab-controls {
    display: flex;
    //justify-content: center;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
  
    button {
        background-color: #f1f1f1;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 10px 20px;
        transition: background-color 0.3s ease;
        border-radius: 5px;
        margin-right: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
        &:hover {
            background-color: #e6e6e6;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
        }
    
        &.active {
            background-color: #d9d9d9;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
        }
    }
  }
  

@media (max-width: 499px) {
    .PostForm {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .PostForm-preview {
        flex: 1 0 100%; 
        overflow: scroll;
        display: block;
        overflow-wrap: 300px;
    }
    .PostForm {
        flex: 1 0 100%;
    }
}
