.PostPage{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 8px #0000001a;
    h1{
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
        text-align: center;
    }
}