$primary-color: #3f95f1;
$secondary-color: #6c757d;
$border-radius: 0.25rem;

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-left: 10px;
  margin-right: 20px;

  .search-input {
    flex: 1;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid $secondary-color;
    border-radius: $border-radius;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:focus {
      border-color: $primary-color;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.25);
    }
  }

  .search-button {
    margin-left: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #fff;
    background-color: $primary-color;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;

    &:hover {
      background-color: darken($primary-color, 10%); //color.adjust($primary-color, $lightness: -10%);
    }
  }
  // TODO: add mobile version
}