.App-link {
    color: #61dafb;
}

.link {
    border-radius: 4px;
    color: #555555;
    display: inline-block;
    font-size: .95rem;
    font-weight: 500;
    margin: .5rem;
    padding: .6rem 1rem;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: #c4c4c4;

    &.active {
        background-color: #4a90e2;
        color: white;
    }

    &:hover {
        background-color: #91918b;
        color: white;
    }
}
 .link_post {
     color: black;
     text-decoration: none;
     background-color: #e3e5f1;
     padding: 4px;
     border-radius: 5px;
     margin:auto;
     &:hover {
         color: #3a3a3a;
         text-decoration: wavy;
     }
 }